# Ignore environment files
.env

# Ignore Python cache files and directories
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
env/

# Ignore IDE/editor specific files
*.vscode/
*.idea/

# Ignore system files
.DS_Store
Thumbs.db
